<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${title}"></title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <style>
        .spaced div {
            margin: 3px 0;
        }

        .bordered, .bordered tr, .bordered td {
            border: 2px solid black;
            border-collapse: collapse;
        }

        .bordered {
            width: 100%;
            margin: auto;
        }

        .data {
            padding: 20px;
            border: 2px solid black;
            border-collapse: collapse;
            width: 85%;
            height: 75%;
            margin: auto;
        }

        .data div {
            margin: 3px 0;
        }

        img {
            display: inline;
            width: 70%;
        }

        body {
            font-size: 14px;
        }
    </style>
</head>
<body>
<div>
    <div style="display:flex">
        <div style="flex:1">
            <img alt="Logo" src="hotel_service/src/main/resources/templates/images/Logo.png"
                 style="width: 100px; height: 100px"><br>
        </div>
        <div style="flex:1">
            <h2 style="text-align: center">TourEase <span th:text="${title}"></span></h2>
            <h2 style="text-align: center"><span th:text="${status}"></span></h2>
        </div>
    </div>
    <div style="display:flex">
        <div style="flex:1">
            <p style="margin: 0; margin-left: 5px"><b>Information of reservation:</b></p>
            <div class="data">
                <div>Check in: <br><b><span th:text="${checkIn}"></span></b></div>
                <div>Check out: <br><b><span th:text="${checkOut}"></span></b></div>
                <div>Length of stay: <br><span th:text="${nights}"></span> nights</div>
                <div>Number of guests: <br><b><span th:text="${people}"></span></b></div>
                <div>Price: <br><b><span th:text="${currency}"></span> <span th:text="${price}"></span></b></div>
            </div>
        </div>

        <div style="flex:1">
            <p style="margin: 0; margin-left: 5px"><b>Information of guest:</b></p>
            <div class="data" style="margin-bottom: 50px">
                <div>Name: <br><b><span th:text="${name}"></span></b></div>
                <div>Email: <br><span th:text="${email}"></span></div>
                <div>Phone number: <br><span th:text="${telephone}"></span></div>
                <div>Country: <br><span th:text="${country}"></span></div>
            </div>
        </div>
    </div>
    <table class="bordered">
        <thead>
        <tr>
            <td style="padding-left: 3px">Room №</td>
            <td style="padding-left: 3px">Type of the room</td>
            <td style="padding-left: 3px">Meal plan</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="padding-left: 3px" th:text="${room}"></td>
            <td style="padding-left: 3px" th:text="${type}"></td>
            <td style="padding-left: 3px" th:text="${meal}"></td>
        </tr>
        </tbody>
    </table>
    <div style="display:flex">
        <div style="flex:1">
            <table style="float: left">
                <tbody>
                <tr>
                    <td style="text-align: left"><span> Price per night:</span></td>
                    <td style="text-align: right"><span th:text="${nightPrice}"></span> <span th:text="${currency}"></span></td>
                </tr>
                <tr>
                    <td style="text-align: left"><span> Price per meal for one day:</span></td>
                    <td style="text-align: right"><span th:text="${mealPrice}"></span> <span th:text="${currency}"></span></td>
                </tr>
                <tr>
                    <td style="text-align: left"><span>Total price for the stay:</span></td>
                    <td style="text-align: right"><span th:text="${totalPrice}"></span> <span th:text="${currency}"></span></td>
                </tr>
                <tr>
                    <td style="text-align: left">Discount (<span th:text="${discount}"></span>%):</td>
                    <td style="text-align: right"><span th:text="${discountedPrice}"></span> <span th:text="${currency}"></span></td>
                </tr>
                <tr>
                    <td style="text-align: left"><span>Advanced payment:</span></td>
                    <td style="text-align: right">-<span th:text="${advancedPayment}"></span> <span th:text="${currency}"></span></td>
                </tr>
                <tr>
                    <td style="text-align: left"><span>Final price:</span></td>
                    <td style="text-align: right"><span th:text="${price}"></span> <span th:text="${currency}"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<footer>
    <div style="text-align: left; margin-top: 50px">
        <div>Prepared by: <b><span th:text="${worker}"></span></b>
            , <b><span th:text="${workerPhone}"></span></b></div>
        <hr>
        <span th:text="${timestamp}"></span>,
        <span th:text="${hotel}"></span>, <span th:text="${address}"></span>
    </div>
</footer>
</html>